<%- include ("../partials/head")%>
<h1>
    Welcome to the TI App
</h1>
    <div class="links">
        <a href="/tis">Targeted Individuals List</a>
    </div>
    <div class="links">
        <a href="/incidents">Incidents</a>
    </div>
    <div class="links">
        <a href="/tis/new">Add New TI</a>
    </div>
    <div class="links">
        <a href="/incidents/new">Add New Incident</a>
    </div>
    <div class="links">
        <a href="/users/new">Register User</a>
    </div>
    <div class="links">
        <a href="/users/login">Login</a>
    </div>
    <div class="links">
        <a href="/users/logout">Logout</a>
    </div>

<h3>
    End the genocide
</h3>

<%- include('../partials/foot')%>
