<%- include ("../partials/head")%>
<div class="home">
    
        <img 
            class ="home-img"
            src="images/home.jpg"
            alt="home"
        />
        <div class="home-text">
            <h1>
                Welcome to the TI App
            </h1>
            <h3>
                TIs Fight Back
            </h3>
        </div>
</div>

<%- include('../partials/foot')%>
