<%- include("../partials/head.ejs") -%>
<div class="ti-new-form-container">
    <form action="/tis/new" method="post" class="ti-new-form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"  class="ti-new-input">
        <br>
        <label for="country">Country:</label>
        <input type="text" id="country" name="country"  class="ti-new-input">
        <br>
        <label for="city">City:</label>
        <input type="text" id="city" name="city" class="ti-new-input">
        <br>
        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender"  class="ti-new-input">
        <br>
        <label for="symptoms">Symptoms:</label>
        <textarea id="symptoms" name="symptoms" class="ti-new-input"></textarea>
        <br>
        <label for="activism">Activism:</label>
        <textarea id="activism" name="activism" class="ti-new-input"></textarea>
        <br>
        <button type="submit" class="ti-new-btn">Submit</button>
    </form><!--  -->
</div>

<%- include("../partials/foot.ejs") -%>